.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.atlas-card {
    width: 500px;
    padding: 5px;
    margin: 5px;
    background-color: gainsboro;
    /* display: flex; */
}

.atlas-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.card-img {
    width: 80%;
    margin: auto;
    display: block;
    
}

.card-text >h3{
    margin-left: 20px;
}

.card-text >h4{
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-right: 40px;
}

.nav-items > ul > li{
    /* padding: 10px; */
    margin: 5px;
}

.logo-container {
    padding-left: 5px;
    margin-left: 40px;
}

.filter {
    /* justify-content: center; */
    /* margin-left: 300px; */
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.footer-icon {
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.footer-links{
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-right: 40px;
}

.footer-links > li{
    margin-right: 100px;
}

.shimmer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card {
    width: 500px;
    height: 500px;
    padding: 5px;
    margin: 5px;
    background-color: gainsboro;
}

.shimmer-img{
    width: 80%;
    margin: auto;
    display: block;
}